/* Universal Selector*/
*{
    margin:0px;
    padding:0px;
}
/* Type Selector*/
body{
    background-color: #eeccdd;
}
p{
    color:#ff0000;
}
/* ID SElector*/ 
#container{
    width:1300px;
    min-height:500px;
    background-color: #cccccc;
    margin:auto auto;
}
/* Class  Selector*/
.heading{
    font-size: 30px;
    font-weight: bolder;
}   